/**
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

#hero {
  background-image: url('images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: #ffffff;
}

#hero-title {
  background-color: #1d3557;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#hero-description {
  background-color: #457b9d;
  padding: 5px 10px;
  margin-top: 0;
  border-radius: 10px;
  max-width: 600px;
  font-size: 18px;
  font-weight: bold;
}

#activities {
  background-color: #f1faee;
  color: #1d3557;
  display: flex;
  flex-direction: column;
}

#activities-title {
  margin-top: 40px;
  margin: 40px 0 50px 0;
}

#activities-list {
  display: flex;
  justify-content: space-around;
}

.activities-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.activities-box {
  width: 200px;
}

#guide {
  background-color: #ffffff;
  margin-bottom: 50px;
}

#guide-box {
  width: 400px;
  display: flex;
  background-color: #a8dadc;
  color: #1d3557;
  margin: 50px auto 0;
  border-radius: 10px;
  padding: 20px 10px;
  box-shadow: 0px 6px #1d3557;
}

#guide-img {
  width: 180px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

#guide-title {
  font-size: 24px;
  margin-bottom: 0;
}

#guide-description {
  padding: 0 5px;
  margin: 15px 0 30px 0;
}

#guide-person {
  font-weight: bold;
}

@media (max-width: 800px) {
  #activities-list {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}
